<div class="container">
    <h1>Resume Site</h1>
    <div class="row">
      <div class="col-sm-4 border border-dark">
        <th>Here's some info!</th>
        <div class="row">
          <div class="col-sm-12 border-top border-dark">
            <tr>Leonel Escapita</tr> 
          </div>
        </div>
      </div>
      <div class="col-sm-8 border border-dark">
        <th>Here are my Buttons!</th>
        <div class="row">
            <div class="col-sm-3 border-top border-dark">
              <tr>Link to Google:</tr> 
            </div>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
        </div>
        <div class="row">
          <div class="col-sm-3 border-top border-dark">
            <tr>Link to Youtube:</tr> 
          </div>
      </div>
      </div>
    </div>
  </div>
  