<div class="container">
    <h1>Welcome to my Website</h1>
    <div class="row">
      <div class="col-sm-3" style="background-color:yellow;">
        <th>Here's some info on me!</th>
      </div>
      <div class="col-sm-9" style="background-color:pink;">
        <th>Here are some of my contacts!</th>
        <div class="row">
            <div class="col-sm-6" style="background-color:aqua;">
              <tr>Hello</tr> 
            </div>
            <div class="col-sm-6" style="background-color: greenyellow;">
              <tr>Greetings</tr>
            </div>
           </div>
       
      </div>
    </div>
  </div>
  