<div class="container">
    <h1>Leonel Adrian Escapita</h1>
    <div class="row">
      <div class="col-3 border border-dark">
        <th>About Me</th>
        <div class="row border-top border-bottom border-dark">
          <div class="col">
            <tr>Resume (Temporary):</tr> 
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary btn-sm mt-2 mb-2" onclick="window.location.href = 'https://docs.google.com/document/d/1ykH2VaQ4kbMU4C7DbfRybX5xjSmrVfLSzHI8qviyhhI/edit?usp=sharing'">My Goals</button>
          </div>
        </div>
      </div>
      <div class="col-6 border border-dark">
        <th>My Accounts</th>
        <div class="row border-top border-dark">
            <div class="col">
              Link to my LinkedIn: 
            </div>
            <div class="col mt-2 mb-2">
                <button type="button" onclick="window.location.href = 'https://www.linkedin.com/in/leonel-escapita-9166a9192/'" class="btn btn-info btn-sm">Go to LinkedIn</button>
            </div>  
        </div>
        <div class="row border-top border-dark">
          <div class="col">
            Link to my GitHub: 
          </div>
          <div class="col mt-2 mb-2">
              <button type="button" onclick="window.location.href = 'https://github.com/laescapita'" class="btn btn-dark btn-sm">Go to GitHub</button>
          </div> 
        </div>
        <div class="row border-top border-dark">
          <div class="col">
            Link to my Instagram: 
          </div>
          <div class="col mt-2 mb-2">
              <button type="button" onclick="window.location.href = 'https://www.instagram.com/leonelescapitaofficial/'" class="btn btn-danger btn-sm">Go to Instagram</button>
          </div> 
        </div> 
      </div>
    </div>
  </div>
  